/* Styles */
/* font-family: "Playfair Display", serif; */
/* font-family: "Roboto", sans-serif; */

html,
body {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
}

header {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

#head-background {
    background: #ff0000;
    background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(255, 179, 179, 1) 100%);
    height: 1000px;
    width: 100%;
    position: absolute;
    top: -100px;
    left: 0;
    transform: skewY(-10deg) translateY(-600px);
    z-index: -1;
    box-shadow: 6px 6px 10px 0px #00000055;
}

#head-img {
    display: inline-block;
    position: relative;
    max-width: 400px;
    min-width: 150px;
    width: 100%;
    height: auto;
    box-shadow: 6px 6px 10px 0px #00000055;
}

#head-img img {
    display: block;
    width: 100%;
    /* responsive */
    height: auto;
}

#overlay-text {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: "Playfair Display", serif;
    font-weight: 900;
    width: 90%;
}

#about-me {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 6px 6px 10px 0px #00000055;
    max-width: 600px;
    min-width: 250px;
    width: 100%;
    height: auto;
    padding: 2rem;
    gap: 1rem;
}

#about-me-links {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.about-me-icon:hover,
.card-icon:hover {
    cursor: pointer;
}

main {
    margin: 2 0rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

#main-title {
    margin-bottom: 2rem;
}

.main-card {
    width: 300px;
    height: 400px;
    box-shadow: 6px 6px 10px 0px #00000055;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    color: black;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, serif;
}

.card-info {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
}

.card-info-icons {
    display: flex;
    gap: 1rem;
}

.card-desc {
    padding: 0 1rem;
}

footer {
    padding: 4rem;
    background: #ff0000;
    background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(255, 179, 179, 1) 100%);
    box-shadow: -6px -6px 10px 0px #00000055;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5rem;
}

#footer-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#footer-title {
    font-weight: 900;
    font-family: "Playfair Display", serif;
}

#footer-text {
    width: 80%;
}

#footer-addy {
    font-weight: 800;
}

#footer-tele,
#footer-email {
    display: flex;
    gap: 0.5rem;
}

.contact-icon img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(270deg) brightness(104%) contrast(105%);
}

#footer-icons {
    display: flex;
    gap: 1rem;
}

#footer-img {
    max-width: 500px;
    min-width: 150px;
    width: 100%;
    height: auto;
    box-shadow: 6px 6px 10px 0px #00000055;
}

#footer-img img {
    display: block;
    width: 100%;
    height: auto;
}

/* Media Queries */

/* Tablet */
@media (max-width: 1000px) {
    header {
        flex-direction: column;
    }

    #about-me {
        max-width: 500px;
    }

    #main-container {
        grid-template-columns: repeat(2, 300px);
        gap: 2rem;
        justify-content: center;
    }

    .main-card {
        width: 90%;
        max-width: 300px;
        margin: 0 auto;
    }
}

/* Mobile */
@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    #about-me {
        box-shadow: none;
        max-width: 500px;
        justify-content: center;
        align-items: center;
    }

    #main-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    #footer-info {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}